*{
    margin: 0;
    box-sizing: border-box;
    
    
}

*::-webkit-scrollbar{
    width: 0px;
    background: transparent;
  }

body{
    font-family: Poppins, "sans-serif";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}