:root {
    // fonts

    // backgrounds 
    $primary-background: #ffbc42;
    $secondary-color: #d81159;
    $accent-color: #73d2de;
    $border-default-color: #bbbbbb;
    // colors 

}

$primary-background: #b10242;
    $secondary-color: #fffafc;
    $accent-color: #161616;
    $border-default-color: #bbbbbb;